[submodule "smpl"]
	path = smpl
	url = git@github.com:sigurdschneider/smpl.git
[submodule "ContainersPlugin"]
	path = ContainersPlugin
	url = github:sigurdschneider/containers.git
[submodule "CompCert"]
	path = CompCert
	url = https://github.com/AbsInt/CompCert
