[submodule "smpl"]
	path = smpl
	url = git@github.com:sigurdschneider/smpl.git
[submodule "ContainersPlugin"]
	path = ContainersPlugin
	url = git@github.com:sigurdschneider/containers.git
[submodule "CompCert"]
	path = CompCert
	url = git@github.com:sigurdschneider/CompCert.git
