[submodule "smpl"]
	path = smpl
	url = https://github.com/sigurdschneider/smpl.git
[submodule "ContainersPlugin"]
	path = ContainersPlugin
	url = https://github.com/sigurdschneider/containers.git
[submodule "CompCert"]
	path = CompCert
	url = https://github.com/sigurdschneider/CompCert.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph
