*.vo
*.glob
*~
*.v.d
*.annot
*.cma
*.cmi
*.cmx
*.cmxa
*.cmxs
*.o
*.cmo
*#
*.d
*.a
*.time
*.aux
*.d.byte
*.bak
.depend
html
compiler/lvcc.native
compiler/parser.ml
compiler/parser.mli
compiler/lexer.ml
compiler/lvc.ml
compiler/lvc.mli
compiler/_build
compiler/extraction/*
compiler/STAMP
compiler/*.im
Makefile.coq
doc-*
pkg*
.timing
*.tgz
theories/Test*.v
loc.tex
Makefile.coq.conf
.VSOURCES
*.cmt
*.cmti
