*.vo
*.glob
*~
*.v.d
*.annot
*.cma
*.cmi
*.cmx
*.o
*.cmo
*#
.depend
html
compiler/lvcc.native
compiler/parser.ml
compiler/parser.mli
compiler/lexer.ml
compiler/lvc.ml
compiler/lvc.mli
compiler/_build
compiler/extraction/*
compiler/STAMP
*.time
*.aux
Makefile.coq
*.d
*.cmxa
*.cmxs
*.a
doc*
pkg*
*.d.byte
