/* replace unicode */

.id[repl] .hidden {
  font-size: 0;
}

.id[repl]:before{
  content: attr(repl);
}

/* folding proofs */

@keyframes show-proof {
    0% {
      max-height: 1.2em;
      opacity: 1;
    }
    99% {
      max-height: 1000em;
    }
    100%{
    }
}

@keyframes hide-proof {
    from {
      visibility: visible;
      max-height: 10em;
      opacity: 1;
    }
    to {
      max-height: 1.2em;
    }
}

.proof {
  cursor: pointer;
}
.proof * {
  cursor: pointer;
}

.proof {
  overflow: hidden;
  position: relative;
  transition: opacity 1s;
  display: inline-block;
}

.proof[show="false"] {
  max-height: 1.2em;
  visibility: hidden;
  opacity: 0;
}

.proof[show="false"][animate] {
  animation-name: hide-proof;
  animation-duration: 0.25s;
}

.proof[show=true] {
  animation-name: show-proof;
  animation-duration: 10s;
}

.proof[show="false"]:before {
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  content: "M";
}
.proof[show="false"]:hover:before {
  content: "";
}

.proof[show="false"] + br + br {
  display: none;
}

.proof[show="false"]:hover {
  visibility: visible;
  opacity: 0.5;
}

#toggle-proofs[proof-status="no-proofs"] {
  display: none;
}

#toggle-proofs[proof-status="some-hidden"]:before {
  content: "Show Proofs";
}

#toggle-proofs[proof-status="all-shown"]:before {
  content: "Hide Proofs";
}

/* header */
#header {
  position:fixed;
  top:0px;
  width:100%;
  z-index: 100;
  padding: 0.25em;
}

.button {
  cursor: pointer;
}

#header {
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    background-color: rgb(21,57,105);
    color: white;
    font-weight: bold;
}

#header > * {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

#header > a {
    float: right;
}

#header > a, #header .button {
    color : #D6EFFF;
}

#header > a:hover, #header .button:hover {
    color: white;
}

#header h1 { padding: 0;
             margin: 0;}

/* footer */
#footer {
  text-align: center;
  opacity: 0.5;
}

/* hyperlinks */

@keyframes highlight {
    50%{
      background-color: black;
    }
}

:target * {
  animation-name: highlight;
  animation-duration: 1s;
}

/* page layout */

.libtitle {
  display: none;
}

html,	body {
	margin:0;
	padding:0;
	height:100%;
}

#page {
	min-height:100%;
	position:relative;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
}

#main  a[name] {
  position: relative;
  padding-top: 4em;
}

#main {
  padding-top: 1.5em;
}
